.navbar {
    background: black;
    color: #fffff7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .logo img {
} */

.list ul {
    display: flex;
    list-style-type: none;
}

.register-button {
    padding: 5px;
}

.user-name {
    margin: 2px;
    padding: 5px;
}